.overlay {
  border: 2px blue solid;
}

.popup-card-token {
  border: 2px red solid;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  width: 50%;
  max-width: 90vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

label {
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #374151;
  font-size: 0.9rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 0.85rem;
}

/*  Under "Grade" text */
.grade-subtitle {
  margin-top: -4px;
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #6b7280;
  font-style: italic;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  font-size: 0.85rem;
}

.button-outline {
  background-color: white;
  border: 1px solid #d1d5db;
  color: #374151;
}

.button-outline:hover {
  background-color: #f3f4f6;
  color: #111827;
  transform: scale(1.05);
}

.button-primary {
  background-color: #2563eb;
  border: none;
  color: white;
}

.button-primary:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}

.button:disabled {
  background-color: #d1d5db;
  color: #9ca3af;
  cursor: not-allowed;
  transform: none !important;
  box-shadow: none !important;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox {
  width: 16px;
  height: 16px;
}

select:invalid {
  color: #888;
}

.popup-content > p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
