.volume-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
  height: 40px;
  width: 50px;
  margin: auto;
}

.bar {
  width: 4px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
